sshd/ssh-keygen  "Setup SSH key for new Unix users" "Key type" = "Auto" fails Debian 9 & 11

Debian 9 & 11 Virtualmin 7.1-1 Webmin 1.999 Option:

Setup SSH key for new Unix users? Yes

Key type: Auto

No keys are generated, 

If "Key Type" set the "rsa" then keys are generated.



So I found the very useful "Webmin Actions Log" section and was able to see command executed from a process, and run those commands themselves in terminal to catch results.
The issue with the Debian 9 and key type auto is that its defaulting to 'rsa1' and ssh-keygen doesnt recognise that type.

echo '' | /bin/su test -c \/usr\/bin\/ssh\-keygen\ \-t\ rsa1\ \-P\ \"\"  
unknown key type rsa1


Which SSH key types does `ssh-keygen` support on your system? You can check by running `ssh-keygen --help`



debian 11 [-t dsa | ecdsa | ecdsa-sk | ed25519 | ed25519-sk | rsa]
"unknown key type rsa1"

debian 9 [-t dsa | ecdsa | ed25519 | rsa | rsa1]
"Enter file in which to save the key (/home/test/.ssh/identity): Saving key "/home/test/.ssh/identity" failed: unknown or unsupported key type"


despite deb 9 mentioning rsa1 still fails:
root@vps:~# ssh-keygen -t rsa1
Generating public/private rsa1 key pair.
Enter file in which to save the key (/root/.ssh/identity): test
Enter passphrase (empty for no passphrase): 
Enter same passphrase again: 
Saving key "test" failed: unknown or unsupported key type
root@vps:~# 


I found [a work-around since rsa1 seems to be deprecated](https://security.stackexchange.com/questions/226131/openssh-declares-ssh-rsa-deprecated-what-do-i-do-next).

I installed `openssh-client-ssh1` with: `sudo apt install openssh-client-ssh1`

and now I can successfully execute `ssh-keygen1 -t rsa1`.

Jamie, we either need to generate 4096-bit key using RSA or just use recommended `Ed25519 ` algo.

I'd like to pick a default that's widely supported by different openssh versions. How about `dsa` ?


> I'd like to pick a default that's widely supported by different openssh versions. How about `dsa` ?

`DSA` cannot be an option in 2022, as discussions of its deprecation started back in 2016.

We could get away with `RSA` with 4096-bit (and higher) but I would suggest to go with`Ed25519`.

We need to support what is secure out of the box, and not what EOL distros can use.



See this [from openssh v8.7](https://www.openssh.com/txt/release-8.7):

```
Imminent deprecation notice
===========================

OpenSSH will disable the ssh-rsa signature scheme by default in the
next release.

In the SSH protocol, the "ssh-rsa" signature scheme uses the SHA-1
hash algorithm in conjunction with the RSA public key algorithm.
It is now possible[1] to perform chosen-prefix attacks against the
SHA-1 algorithm for less than USD$50K.

Note that the deactivation of "ssh-rsa" signatures does not necessarily
require cessation of use for RSA keys. In the SSH protocol, keys may be
capable of signing using multiple algorithms. In particular, "ssh-rsa"
keys are capable of signing using "rsa-sha2-256" (RSA/SHA256),
"rsa-sha2-512" (RSA/SHA512) and "ssh-rsa" (RSA/SHA1). Only the last of
these is being turned off by default.

This algorithm is unfortunately still used widely despite the
existence of better alternatives, being the only remaining public key
signature algorithm specified by the original SSH RFCs that is still
enabled by default.

The better alternatives include:

 * The RFC8332 RSA SHA-2 signature algorithms rsa-sha2-256/512. These
   algorithms have the advantage of using the same key type as
   "ssh-rsa" but use the safe SHA-2 hash algorithms. These have been
   supported since OpenSSH 7.2 and are already used by default if the
   client and server support them.

 * The RFC8709 ssh-ed25519 signature algorithm. It has been supported
   in OpenSSH since release 6.5.

 * The RFC5656 ECDSA algorithms: ecdsa-sha2-nistp256/384/521. These
   have been supported by OpenSSH since release 5.7.

To check whether a server is using the weak ssh-rsa public key
algorithm, for host authentication, try to connect to it after
removing the ssh-rsa algorithm from ssh(1)'s allowed list:

    ssh -oHostKeyAlgorithms=-ssh-rsa user@host

If the host key verification fails and no other supported host key
types are available, the server software on that host should be
upgraded.

OpenSSH recently enabled the UpdateHostKeys option by default to
assist the client by automatically migrating to better algorithms.

[1] "SHA-1 is a Shambles: First Chosen-Prefix Collision on SHA-1 and
    Application to the PGP Web of Trust" Leurent, G and Peyrin, T
    (2020) https://eprint.iacr.org/2020/014.pdf
```
It looks like it's saying, the generated keys can continue to be used, only the algorithm should be changed, probably best to disable that weak `sha1` algorithm, and use a strong algorithm instead.

Ok, I will go with Ed25519


3 years later i get to test this out on my lates vps setup :p turns out missed the authorized keys update as the naming format is different. ive update it here https://github.com/webmin/webmin/pull/2609 also maybe the dropdown in "preferred key format" in sshd config could be updated to show the new format 