Breaks DNSSEC signing when creating NSEC3PARAM record in zone file

Function `bind8/bind8-lib.pl::sign_dnssec_zone()` breaks re-signing of the zone file by `dnssec-signzone` after webmin has added an `NSEC3PARAM` RR.

webmin generates an RR of the form:
```
example.com. IN NSEC3PARAM ( 1 0 10 16 0d95646237ae38bc )
```
which subsequently causes:
```
dnssec-signzone -o example.com example.com.hosts
dnssec-signzone: error: dns_rdata_fromtext: example.com.hosts:165: near '0d95646237ae38bc': extra input text
dnssec-signzone: fatal: failed loading zone from 'example.com.hosts': extra input text

```
The bug is that webmin is writing every value of the internal RR RDATA with:
```
foreach my $r (@signedrecs) {
	if ($r->{'type'} eq 'NSEC' ||
	    $r->{'type'} eq 'NSEC3' ||
	    $r->{'type'} eq 'RRSIG' ||
	    $r->{'type'} eq 'NSEC3PARAM') {
		&create_record($fn, $r->{'name'}, $r->{'ttl'}, $r->{'class'},
			       $r->{'type'}, join(" ", @{$r->{'values'}}),
			       $r->{'comment'});
		}
	}
```
But for `NSEC3PARAM` RRs the fourth field of `$r->('values')` is the length of the salt which according to RFC5155 section 4.3 should NOT be shown.

I'm not too sure how you'd want to deal with this since the generic code is handling multiple types. I guess just break it out into a separate stanza?

"The Salt Length field is not represented."

https://tools.ietf.org/html/rfc5155#section-4.3

Excellent find !!!!
Webmin needs perfectly functioning DNSSEC.
One step closer now!

Closing as PR in #1111 has been merged.