Webmin BIND8 fails to validate A-records on create and update/edit

Apologies for the poor formatting. This is one of my first Github bug reports. Please let me know if I need to fix anything or make it clearer.

**System Information**
**OS type and version:** RHEL 9.5 (x86)
**Webmin version**: 2.303
**Package updates:** 0 (dnf reports "Nothing to do")

**Bug Information**
When creating A-name records through the Webmin/Usermin web page, the web page fails to properly validate that the input records conform with BIND/RFC naming requirements. Namely, those specified in RFC1034 Section 3.1 (pg. 10) found here @ [https://www.ietf.org/rfc/rfc1034.txt](https://www.ietf.org/rfc/rfc1034.txt) The RFC1034 standard states, in part:

> [...] They must start with a letter, end with a letter or digit, and have as interior characters only letters, digits, and hyphen.  There are also some
restrictions on the length.  Labels must be 63 characters or less.

Webmin currently allows incorrectly records to be created that are not RFC compliant, leading the underlying named daemon to enter a fault state. Specifically, it is possible to utilize the following scenarios to create a fault state:

- A Records beginning with numbers.
- A Records containing invalid special characters (Eg: underscore)

Webmin appears to correctly validate length and some special characters.

**Evidence:**
https://imgur.com/a/qIo9wtK

**Solution?** 
RFC standards are clear that permissible characters are A-Z and a-z and 0-9 and hyphen, and in some cases, a period. Validation should employ a explicit allow, implicit deny of the allowable charset based on RFC standards.


Are you sure that records starting a number aren't allowed? It works OK on my system ...

What error message are you getting exactly from BIND?


Hey jcameron,

With respect to numbers being disallowed: By RFC they should be disallowed, unless there is another RFC that I haven't seen that allows DNS records to begin with numbers. However, you are correct that BIND will accept (as correctly formatted) DNS records beginning with numbers without issue.

With respect to the invalid characters:
**The BIND error reports:**
09-May-2025 19:58:47.703 general: error: /var/named/domain.local.hosts:96: this_is_invalid.domain.local: bad owner name (check-names)
09-May-2025 19:58:47.703 zoneload: error: zone domain.local/IN: loading from master file /var/named/domain.local.hosts failed: bad owner name (check-names)
09-May-2025 19:58:47.703 zoneload: error: zone domain.local/IN: not loaded due to errors.

**If you restart named from there, the service will fail to load:**
[root@SERVER named]# systemctl restart named
Job for named.service failed because the control process exited with error code.
See "systemctl status named.service" and "journalctl -xeu named.service" for details.

The journald logs just return the same bind errors as above. In my case, named (previously) had been restarted by logrotated. Forcing the restart will achieve the same results though.

Interesting, looks like BIND 9.4 no longer allows underscore in records ... but older versions did : https://groups.google.com/g/comp.protocols.dns.bind/c/0Ce5AflK0yE


You can actually disallow use of `_` either on the Module Configuration page of the BIND module, or by editing `/etc/webmin/bind8/config` and changing the `allow_underscore=1` line to `allow_underscore=0`


That's actually super helpful. Thank you! I've modified our BIND configs to use these configs. Also, it looks like (from your link) that a superseding RFC does permits leading numbers now.

I would suggest that when installing a fresh copy of webmin, given the current bind9 config (and flip-flopiness), that allow_underscore=0 should probably be the default setting.